*.class
*.log
*.jar
*.war
*.ear
target/
bin/
build/
out/

#--- Archivos de eclipse ---
.metadata/
.classpath
.project
.settings/
*.launch

#--- Archivos de VS Code ---
.vscode/
.factorypath

#--- Archivos del sistema ---
.DS_Store
Thumbs.db